%font-light,
%font-regular,
%font-medium,
%font-bold {
  font-family: $font-ubuntu;
}

%font-light {
  font-weight: 300;
}

%font-regular {
  font-weight: 400;
}

%font-medium {
  font-weight: 500;
}

%font-bold {
  font-weight: 700;
}

html {
  font-size: 10px;
}
body {
  @extend %font-regular;
  font-size: 1.6rem;
}

h5, .h5 {
  font-size: 1.8rem;
}

.container {
  max-width: 1370px;
  @media (min-width: 1200px) {
    padding-left: 3.0rem;
    padding-right: 3.0rem;
  }
}
